.card2{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;

}

.card2-img{
    padding-top: 100%;
    position: relative;
    width: 100%;
    img{
        -webkit-user-drag: none;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

}
.card2-text{
    font-size: clamp(5px, 8vw, 15px);
display: flex;
    text-align: start;
    justify-content: space-between;
    // background-color: wheat;
 flex-basis: 20%;
} 


.itemCardName{
    font-family: var(--raleway);
    font-size: clamp(5px, 8vw, 10px);
    font-weight: 300;
    margin-bottom: 10px;
}
.itemCardPrice{
    font-family: var(--raleway);
    font-size: clamp(5px, 8vw, 15px);
    font-weight: 500;
}

.itemCardBuybtn{

color: #5ece7b;
    border: none;
    border-radius: 50%;
margin-right: 20px;
    height: 52px;
    opacity: 1;
  
}
.itemCardBuybtnDisabled{
    
    color: #a0a3a1;
    border: none;
    border-radius: 50%;
margin-right: 20px;
    height: 52px;
    opacity: 1;
}