.list-prodcuts-admin{
    background: white;
    height: 100%;
    width: 100%;
    margin-left:20px ;
    padding: 20px;
    display: flex;
flex-direction: column;
    gap: 20px;
    .title-list-prodcuts-admin{
        margin-bottom: 20px;
    }
}


.card-product-admin{
    // width: calc(25% - 10px);
    transition: all .3s linear;
    height: 150px;
    display: flex;
    width: 150px;
flex-direction: column;
//    background-color: $color-Card-Pending;
   align-items: center;
 
   color: white;
   border-radius: 5px;

}
// .card-product-admin:hover .actions-card-product-admin{
// display: flex;
// top: -10px;
// z-index: 4;
// }
.img-card-product-admin{
position: relative;
width: 150px;
height: 150px;
display: flex;
align-items: center;
justify-content: center;

img{
    width: 100%;
    height: 150px;
   object-fit: cover;
   transition: all .2s linear;
}
}
.actions-card-product-admin{

position: absolute;

justify-content: space-between;
color: red;
right: 0;
transition: all .3s linear;
width: 100%;
display: flex;
top: -10px;
z-index: 4;
a{
    transition: all .3s linear;
    cursor: pointer;
    color: black !important;
    font-size: 10px;
}
}
.text-card-product-admin{
    color: black;
    

    // background-color: #f7f7f9;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
padding: 5px 10px;

    p{
        font-size: 12px;
    }
    
}
.price-card-product-admin{
    color: #f1cd5f;
}
.edit-product-admin{
    color: green;
}
// .img-card-product-admin img:hover{
//   filter: blur(2px);
// }
.list-card-products{
    padding: 20px;
    display: flex;
    gap: 40px;

    flex-wrap: wrap;
}


@media (max-width:  767.98px) { 
    .card-product-admin{
        // width: calc(25% - 10px);
        transition: all .3s linear;
        height: 150px;
        display: flex;
        width: 150px;
    flex-direction: column;
    //    background-color: $color-Card-Pending;
       align-items: center;
     gap: 50px;
       color: white;
       border-radius: 5px;
       justify-content: center;
    
    }
    .list-card-products {
        justify-content: center;
    }

    .list-prodcuts-admin{
        background: white;
        height: 100%;
        width: 100%;
        margin-left:0px ;
        padding: 20px;
        display: flex;
    flex-direction: column;
        gap: 40px;
        align-items: center;
  
    }
}