@mixin d-flex-col($aliy, $just, $dirc, $gap) {
    display: flex;
    justify-content: $just;
    flex-direction: $dirc;
    align-items: $aliy;
    height: 100%;
    padding-top: 100px;
    gap: $gap
}

.productPage {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    @include d-flex-col(center, space-around, column, 00px);

    p {
        font-family: 'Open Sans', sans-serif;
        // font-weight: 900;
        font-size: 30px
    }

}


.also-products {
    @include d-flex-col(center, center, row, 20px);
    flex-wrap: wrap;
    padding-top: 0px !important;
}


// new desgn


$Main-Color: #5ece7b;

.Porudct-Page {
    display: flex;
    width: 100%;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    height: 100%;
    justify-content: center;
    margin-top: 100px;
}

.list-img-product-detaile {

    display: flex;
    gap: 15px;
    transition: width 2s, height 2s;
}

.imgBorder {
    width: 100%;
    height: calc(100% - 20%);
    flex-basis: 60%;
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    transition: all .3s linear;
    height: 400px;

    .mini-img {
        width: 90px;
        height: 90px;
        transition: opacity 1s ease-out;
    }

    img {
        width: 300px;
        height: 300px;
        border-radius: 5px;
        object-fit: cover;

        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }
}

.Text-Product2 {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
    justify-content: space-around;
    min-width: 50%;


    height: 100%;

    .buybtn {
        background-color: $Main-Color;
        border: none;
        color: white;
        padding: 15px 0;
        width: 50%;
        border-radius: 5px;
        font-size: 25px;
        font-family: 'Open Sans', sans-serif;
    }

    .title {
        font-family: var(--raleway);
        font-size: clamp(5px, 8vw , 15px);
        font-weight: 600;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .price {
        font-family: var(--raleway);
        font-size: clamp(5px, 8vw , 15px);
        font-weight: 700;
        margin-top: 10px;

        span {
            font-family: var(--roboto-condensed);
            font-size: 18px;
            font-weight: 700;
        }
    }



}




@media (max-width: 767.98px) {
    .Porudct-Page {

        flex-direction: column;
        gap: 50px;

 

    }
    .Text-Product2 {
        flex-basis: 100%;
   
        gap: 15px;
       
        justify-content: space-between;
        min-width: 100%;
  


        .buybtn {
       
        
        
            padding: 10px 0;
            width: 70%;
         
            align-self: center;
            border-radius: 5px;
            font-size: 25px;
            font-family: 'Open Sans', sans-serif;
        }
    }


}