.App{
    /* width: 100%; */
}


/*   
main.fillHeight {
    padding: 0px 150px;
  }
  
  main {
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    padding: 50px 150px;
  } */

  @media (max-width: 1080px){


  }
  
  /* @media (max-width: 991.98px) { 

    main.fillHeight {
      padding: 0px 100px;
    }
    
    main {
      margin: 0px auto;
      width: 100%;
      max-width: 1600px;
      min-height: 100vh;
      padding: 50px 100px;
    }

   }
 */
