.active{
    opacity: 1;
  
}

.new-sideBar{
    z-index: 9;
    transition: all 0.3s linear;
    transition:  0.3s display;
    height: 100vh;
    width: 200px;
align-items: safe;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    
.title-sideBar{
    padding: 20px;
    color: white;
    background-color: #2a3e4c;
}
.list-Links-sideBar{

padding: 0 20px;
    background-color: #2a3e4c;
    height: 100vh;  
    li{
        font-size: 16px;
        list-style: none;
        padding: 20px 0;
        a{
            font-size: 12px;
            font-family: var(--raleway);
            color: white;
            i{
                font-size: 20px;
            }
            &:hover{
                color: #2687FF;
            }
        }
    }
}

}


.mobile-sidebar{
position: absolute;
display: none;
}
.link-item-sidebar-admin{
display: flex;
align-items: center;
gap: 20px;
transition: all 0.3s linear;
transition:  0.3s display;
}

.title-sideBar{
    display: flex;
    gap: 10px;

}

.toggle-admin{
    cursor: pointer;
}